@use '/src/styles/index.scss' as *;

.resultado {
    display: grid;
    grid-template-columns: 50% 10%;
    align-items: center;

    &__texto {
        margin-left: 333px;
        margin-top: 78px;

        &__lista {
            font-weight: 600;
            font-size: 18px;
        }
    }

}