@import '/src/styles/variaveis';

.hero {
    display: grid;
    grid-template-columns: 50% 10%;
    height: 100vh;
    align-items: center;
}


.hero__titulo {
    font-size: 40px;
    color: white;
    font-weight: 700;
    margin-left: 368px;
    margin-bottom: 37px;
}

.hero__texto {
    font-family: 'Open Sans';
    font-size: 25px;
    font-weight: 400;
    color: white;
    margin-left: 375px;
    margin-bottom: 30px;
}

@mixin botao ($cor, $corBorda: none) {
    border: solid 1px;
    padding: 18px;
    border-radius: 82px;
    border-color: $corBorda;
    background-color: $cor;
    color: white;
    width: 100px;
    text-align: center;
    font-weight: 700;
}

.hero__botoes {
    display: flex;
    justify-content: center;
}

.hero__botaoCallToAction {
    @include botao($roxo-chamativo);
    margin-left: 100px;
    border: none
}

.hero__botaoVerMais {
    @include botao($verde-principal, $marrom-segundo );
    margin-left: 16px;
}

.hero__imagem {
    margin-bottom: 100px;
    margin-right: 30px;
}