@use '/src/styles/variaveis' as *;

@mixin Container {
    display: grid;
    grid-template-columns: 50% 10%;
    height: 100vh;
    align-items: center;
}

@mixin Botao ($cor, $corBorda: none, $espacamento: false) {
    @if $espacamento {
        padding: 18px;
    }

    border: solid 1px;
    border-radius: 82px;
    border-color: $corBorda;
    background-color: $cor;
    color: white;
    text-align: center;
    font-weight: 700;
}

@mixin BotaoCallToAction {
    @include Botao($roxo-chamativo,none,true);
    border: none;

    &:hover {
        transform: scale(1.1);
    }
}