.perfil-titulo {
    font-family:'Inter', sans-serif; 
    font-size:45px;
    font-weight: 300;
    height: 19.32px;
    left: 50.2px;
    position: absolute;
    top: 194.97px;
    width: 57.18px;
}