@use '/src/styles/index.scss' as *;

.formInput {
    &__titulo {
        color: $verde-principal;
        margin-bottom: 76px;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
    }

    &__input {
        height: 44px;
        width: 289px;
        margin-bottom: 27.91px;
        border-color: $marrom-segundo;
        box-shadow: none !important;
    }
}